{% extends "globals.html" %}
    {% block title %}Image/Video Viewer{% endblock %}
{% block head %}
    <style>
        .overlay-label {
            position: absolute;
            top: calc(50% + {{y}}%);
            left: calc(50% + {{x}}%);
            background-color: rgba(255, 255, 255, 0.2);
            padding: 10px;
            max-width: 200px;
            max-height: 100px;
            word-wrap: break-word;
            transform: translate(-50%, -50%); /* Center the label */
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="media-wrapper">
            {% if is_video %}
                <video id="media" autoplay loop muted controls playsinline>
                    <source src="{{ url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% else %}
                <img src="{{ url }}" alt="Image">
            {% endif %}
            <div class="overlay-label">
                <p id="labelText"></p>
            </div>
        </div>

        <div class="overlay-buttons">
            <button type="button" class="btn btn-success" style="" onclick="location.href='/create_meme'">Next MeiMei</button>
            <button type="button" class="btn btn-success" id="submitButton">Submit</button>
        </div>
    </div>
    <div class="text-input-container" style="position: absolute; top: 10px; right: 10px;">
        <input type="text" class="form-control" placeholder="Text" id="textInput" maxlength="50">
    </div>
    <script>
        const textInput = document.getElementById('textInput');
        const submitButton = document.getElementById('submitButton');

        submitButton.addEventListener('click', () => {
            // Get the values of the text input and URL
            const text = textInput.value;
            const url = "{{ url }}";
            const name = "{{ name }}"

            // Create a data object to send in the POST request
            const data = { text, url , name};

            // Send a POST request using the Fetch API
            fetch('/submit', {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (response.ok) {
                    // Handle the response, e.g., show a success message
                    console.log('Request was successful');
                } else {
                    // Handle errors, e.g., show an error message
                    console.error('Request failed');
                }
            })
            .catch(error => {
                console.error('Request error:', error);
            });
        });
    </script>
{% endblock %}
{% block boilerplate %}
{% endblock %}
