{% extends "globals.html" %}
    {% block title %}Meme Lab{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <h1>Welcome to Meme Lab!</h1>
    <form id='login-data'>
        <p><h3>Enter login credentials:</h3></p>
        <p><input id='user-name' type='text' name='user-name' required autofocus placeholder='Username'/></p>
        <p><input id='password' type='text' name='password' required placeholder='Password'/></p>
        <p><input type='submit' value='Log in'/></p>
    </form>
    <script>
        const GamePhase = {
            Waiting: 1,
            Creating: 2,
            Viewing: 3,
            Results: 4
        };

        document.getElementById('login-data').addEventListener('submit', function (event) {
            event.preventDefault();

            // get form data
            const formData = new FormData(document.getElementById('login-data'));

            // send POST request to Flask backend
            axios.post('/validate', formData)
                .then(function (response) {
                    console.log(response.data.success);
                    console.log(response.data.game_phase);
                    if (response.data.success) {
                        console.log("test1")
                        if (response.data.game_phase === GamePhase.Waiting) {
                            console.log("test2")
                            location.href = '/lobby';
                        } else {
                            console.log("test3")
                            location.href = '/view';
                        }
                    } else {
                        alert('Login failed');
                    }
                });
        });
    </script>
{% endblock %}
{% block boilerplate %}
{% endblock %}